.navbar {
    background-color: lavender;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

}
.logo {
    font-size: 2rem;
    text-transform: uppercase;
    
    
}
.options {
    display: flex;
    align-items: center;
}
li {
    margin-right: 4rem;
    list-style: none;
}