section#home {
    height: 95vh;
  background-color: #58c14a;
  background-image: url(../src/mocks/images/img\ 11.jpg);
  background-size: cover;
  background-position-y: -7rem;
  filter: hue-rotate(330deg);
}

section#Productos{
    padding: 0px;
    margin: 0px;
}

#terminarCompra {
    visibility: hidden;
}

h1 {
    font-size: 5rem;
    font-family: Arial, Helvetica, sans-serif;
}

.prodContainer {
    width: 100vw;
}

.producto{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  justify-self: space-around;
  width: auto;
  padding-left: 4rem;
}

.greeting {
    text-align: center;
    
}

.counter {
  display: flex;
  flex-direction: row;
  width: 15rem;
  justify-content: space-around;
  align-items: baseline;
}

button.open{
    width: 2rem;
    height: 2rem;
    margin: 0px;
    border: none;
    border-radius: 0px;
}

.counterBox {
  justify-content: space-between;
  border: grey 1px solid;
  display: flex;
  flex-direction: row;
  width: 7rem;
  margin-bottom: 1rem;
}

img.cargando {
    filter: hue-rotate(21deg)
}
    
button.confirmar {
    width: 15rem;
    margin: 0rem;
}

.titleCart{
    font-size: 1.2rem;
}
.dato-compra{
    margin-right: 3rem;
}
.eliminarProducto{
  font-size: 1rem;
  margin-top: 1rem;
  cursor: pointer;
  border-radius: 10rem;

}

.productoTotal{
    font-size: 2rem;
}

#TerminarCompra {
    visibility: hidden;
}

h2 {
    font-size: 3rem;
    padding: 1rem;
}
.precio {
    font-size: 25px;
    font-family: cursive;
}
.stock{
    font-size: 25px;
}

.AddToCart {
    font-size: 30px;
    font-family: cursive;
}


div.cardCart {
    width: 60%;
    margin: 0.5rem;
    border: solid 1px lightblue;
    padding: 1rem;
    background-color:rgba(118, 215, 222, 0.904);
    
}

button, input#enviarCont, .enviarinput, #validarDatos{
    width: 13rem;
    display: flex;
    text-align: center;
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    font-size: 1.05rem;
    background-color: rgba(256, 256, 256, 0.6);
    border-radius: 0.5rem;
    margin-top: 1.5rem;
    color: #533B4D;
    padding-left: 0px;
}

.compra{
    border-radius: 10rem;
}
